.card {
    width: 300px;
    box-sizing: border-box;
    border: 1px #000 solid;
    text-align: center;
    padding: 15px;
}
.card h3 {
    text-align: start;
}
.card h4 {
    text-align: end;
}
.css-ke5b6m-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: #fff !important;
    background-color: #333 !important;
}
.gNublD{
    margin: 0 !important;
}