body {
  margin: 0;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  word-break: break-word;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.word-break-all {
  word-break: break-all;
}
#BurgerNavigation li a {
  text-decoration: none;
}
#Navigation li a {
  text-decoration: none;
  color: #fff;
}
#Navigation li a:hover {
  color: #5b011d;
}
#Navigation li a:active {
  color: #fff !important;
}
g {
  fill: unset;
}

.light {
  color: #090d2a !important;
  background-color: #fff !important;
  fill: #fff;
}

.dark {
  color: #980433 !important;
  background-color: rgb(10, 12, 11) !important;
  fill: #980433;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  border-radius: 1rem;
  width: 10px;
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  background-color: #980433;
  border-radius: 1rem;
}
::-webkit-scrollbar-track {
  border-radius: 1rem !important;
}
.hHJTFD {
  margin: 0 !important;
  position: relative;
}
.rec-pagination {
  display: none !important;
}
